<md-card class="rubrictable">
    <div layout="row" layout-gt-xs="column" layout-padding>
        <div class="caption">
            RUBRIC {{$ctrl.name}} DATA {{$ctrl.profiletype}}
        </div>
        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column>
                            <div layout="row" layout-margin flex>
                                <div flex="10">Traits/Scale--></div>
                                <div flex="90" layout="row">
                                    <div class="md-title" ng-repeat="a in $ctrl.desc1.header" flex="20">
                                        {{a}}
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="x in $ctrl.desc1.criteria">
                        <td md-cell>
                            <md-radio-group layout="row" layout-padding ng-model="x.model">
                                <div flex="10" class="md-subhead">{{x.criterianame}}</div>
                                <div flex="20" ng-repeat=" m in x.columns">
                                    <md-radio-button class="md-primary" value="{{m.value}}">{{m.desc}}
                                    </md-radio-button>
                                </div>
                                <div flex="20">
                                    <md-input-container>
                                        <label> Ratings
                                        </label>
                                        <input type="text" ng-model="x.model" disabled>
                                    </md-input-container>
                                </div>
                            </md-radio-group>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <div layout-align="center" layout="row" flex>
            <md-button class="md-raised md-warn md-block" ng-click="$ctrl.average($ctrl.desc1.criteria)">
                Overall Grade</md-button>
            <p>{{$ctrl.outcome}}</p>
        </div>
    </div>
</md-card>
