<div layout-gt-sm="row" layout="column" class="styling">
    <div flex-gt-sm="100" flex="">
        <!-- <md-toolbar layout="row" md-colors="{background: 'grey-100'}">
            <div class="md-toolbar-tools" layout-align="center center">
                <span>Placement Centers</span>
            </div>
        </md-toolbar> -->
        <div layout="row" layout-margin layout-padding>
        <div flex>
        <md-content>
            <md-list flex="95">
                <md-list-item class="md-3-line" ng-repeat="center in $ctrl.centerDetails">
                <div class="md-list-item-text" layout="row">
                  <img alt="{{ center.cname }}" ng-src="placementcenterimage.jpg" class="md-avatar" />
                  <!-- <ng-letter-avatar data="uttesh"></ng-letter-avatar> -->
                  <div layout="column">
                        <h3>{{center.cname}} ({{center.centerCode}})</h3>
                        <h4>{{center.centerLocation}} ({{center.address}})</h4>
                        <p>{{center.mobile}}</p>
                        <!-- <h4><strong>Status: </strong>{{center.status}}</h4> -->
                    </div>
                    </div>
                    <md-divider ></md-divider>


                    <div layout="row" layout-align="end center">
                        <a id=editIcon class="pointCursor" ng-click="$ctrl.showAdvance($event,center,'Edit Info')" title="Click to Edit">
                            <md-icon class="">mode_edit</md-icon>
                        </a>
                   <!-- <md-button ng-click="$ctrl.disable(center)">
                    <i class="material-icons">delete_forever</i></md-button> -->
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
    </div>
    </div>
</div>
<style>
#editIcon{
    position: relative;
    top: 25px;
}
</style>
