.headerSection {
    background-color: #BCAAA4;
    /*color: white;
*/
}

.bodyContent {
    background-color: #EEEEEE;
    /*color: white;*/
}

.action {
    /*background-color: #80CBC4;
*/
    color: white;
}

.avatar {
    height: 100px;
    width: 120px;
}
