<html>

<head>
</head>

<body>
    <center>
      <div layout="column" layout-align="center center" >
         <p calss=".md-subhead" align="center">Register Job-provider</p>
        <div class="md-no-momentum" md-whiteframe="6" layout-margin >
                <form name="myForm" ng-submit="vm.subjobprovider(); showAlert($event)">
                    <md-input-container class="md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Name</label>
                        <md-icon>person</md-icon>
                        <input ng-model="vm.jobprovider.name" name=Name type="text" pattern="[a-zA-Z\s]+" md-maxlength="30" ng-required="true">
                        <div ng-messages="myForm.Name.$error" ng-show="myForm.Name.$dirty || myForm.Name.$touched">
                            <div ng-message="pattern">only character and spaces allowed</div>
                            <div ng-message="md-maxlength">Length should not be more than 30 characters</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon ng-show="vm.availability=='disabled'" style="color:black">do_not_disturb</md-icon>
                        <md-icon ng-show="vm.availability=='Available'" style="color:green">done</md-icon>
                        <md-icon ng-show="vm.availability=='Not available'" style="color:red">clear</md-icon>
                        <input ng-model="vm.jobprovider.jpCode" ng-disabled="vm.checked" md-minlength="5" md-maxlength="5" name="jpCode" type="text" placeholder="Job-Provider Code" ng-required="true">
                        <div ng-messages="myForm.jpCode.$error" ng-show="myForm.jpCode.$dirty || myForm.jpCode.$touched">
                        </div>
                    </md-input-container>

                    <!-- radio -->

                    <md-radio-group ng-model="vm.jobprovider.type" layout="row" ng-required="true" layout-padding="">
                        <label>Job-Provider:</label>
                        <md-radio-button value="Organization">Organization</md-radio-button>
                        <md-radio-button value="Client">Client</md-radio-button>
                    </md-radio-group>



                    <md-input-container class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon>location_on</md-icon>
                        <input ng-model="vm.jobprovider.location" type="text" placeholder="location " ng-required="true">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon>phone</md-icon>
                        <input ng-model="vm.jobprovider.phone" name="number" type="text" pattern="[0-9]{10,10}" md-maxlength="10" md-minlength="10" placeholder="Phone Number" ng-required="true">
                        <div ng-messages="myForm.number.$error" ng-show="myForm.number.$dirty || myForm.Name.$touched">
                            <div ng-message="pattern">10 digit number is allowed only </div>
                        </div>
                    </md-input-container>


                    <md-input-container class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon>email</md-icon>
                        <input ng-model="vm.jobprovider.email" type="email" placeholder="Email (required)" ng-required="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon>people</md-icon>
                        <input ng-model="vm.jobprovider.about" type="text" placeholder="Description ">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon>link</md-icon>
                        <input ng-model="vm.jobprovider.url" type="url" placeholder="Url ">
                    </md-input-container>

                    <section layout="row" layout-padding="" layout-align="center">
                        <md-button type="submit" class="md-raised md-primary" ng-disabled="false" ng-hide="vm.register">&nbspRegister&nbsp</md-button>
                        <md-button type="button" class="md-raised md-primary" ng-disabled="false"  ng-hide="vm.save" ng-click="vm.savechanges(); showAlert($event)">&nbspSave&nbsp</md-button>
                    </section>

                    <section layout="row" layout-padding="" layout-align="center">
                        <span class="md-subhead">{{vm.msg}}</span>
                    </section>
                </form>
            </div>
        </div>
    </center>
</body>
