



.ques1{
    width: 100%;
     background-color:#f1eded;
    font-size: 42px;
    height: 100px;
    border:0;
    padding-left: 10px;
}
.forward{
    height: 102px;
    background-color:#d9d9d9;
    border:0;
    width:100%;
}

 input:focus,.forward:focus{
    outline: none;
}
.questionArea{
   color:#868686;
   font-size: 26px;  
   background-color:#e6e6e6;
   padding:10px;
}
.forwardIcon{
    font-size: 50px;
}
.thankuBox{
    text-align: center;
    color:#868686;
    font-size: 26px;
}


.pointCursor{
  cursor: pointer;
  border:0;
}


