
#content
{
    margin-top:30px;
    /*background-color: white;*/
    /*margin-top:30px;*/
    width: 100%;
    margin:auto;
    line-height: 1;
}
#totalcardarea md-card-content
{
    padding: 0px;
}
#totalcardarea md-card-content div
{
    padding:2px;
}
#totalcardarea md-card-content p
{
    margin:0px;
}

#totalcardarea
{
    padding:0px;
}

#headersection
{
    /*background-color: #D9D9D9 ;*/
    /*background-color:#f9f9f9 ;*/
    background-color:#D9D9D9 ;
}
#blankarea
{
    height:2px;
}

#avatar
{
    height:60px;
    width:56px;
}

#professionimage
{
    padding-top: 10px;
    height: 30px;
    width: 30px;
}

#skillcardtoolbar
{
    /*background-color:#d9d9d9 ;*/
    /*background-color:#f9f9f9 ;*/
    /*background-color:#D9D9D9 ;*/
    margin:0px;
}

#headerage
{
    font-size: 12px;
}

#header1
{
    margin-bottom:5px;



}