<div>
    <md-card>
        <md-card-title class="projectTitle">
            <md-card-title-text layout="row">
                <div class="md-headline" flex="90">{{$ctrl.items.projectheader}}</div>
                <div flex="5">({{$ctrl.profile.length}})</div>
            </md-card-title-text>
        </md-card-title>
        <div layout-padding layout-wrap layout="row" class="decreasemdIconFont">
            <div layout="row" flex="50" layout-xs="row" flex-xs="100" ng-repeat="project in $ctrl.profile | limitTo: $ctrl.limitval" ng-model="$ctrl.limitval">
                <div flex="80" flex-xs="80">
                    <md-icon>fiber_manual_record</md-icon><span class="changeProjectNameFont">{{project.name}}</span>
                    <br>
                    <md-icon>schedule</md-icon><span class="changeProjectDurationFont">{{project.duration.durationInMonths}}</span><span>,</span>
                    <span>&#8377;</span>
                    <span class="changeProjectSalaryFont">{{project.income}}</span>
                    <br>
                    <md-icon>work</md-icon>
                    <span class="changeProjectClientFont">{{project.workplace}}</span><span>,</span>
                    <md-icon>location_on</md-icon>
                    <span class="changeProjectLocationFont">{{project.location}}</span></span>
                    <br>
                    <md-icon>build</md-icon>
                    <span ng-repeat="(skillname,skill) in project.skills">
                    <span class="changeProjectLocationFont"> {{skill}} </span></span>
                    <md-divider></md-divider>
                </div>
                <div flex="5" flex-xs="5">
                    <md-button ng-click="$ctrl.showAdvanced($event,'Edit Project',project)">
                        <md-icon>mode_edit</md-icon>
                    </md-button>
                </div>
            </div>
        </div>
        <div layout="row" flex-offset="90" layout-align="center center">
            <a ng-model="$ctrl.collapsed" ng-hide="$ctrl.collapsed" ng-click="$ctrl.collapsed=!$ctrl.collapsed ;$ctrl.increaseLimit()" class="pointCursor">
                <md-icon class="material-icons" ng-hide="$ctrl.collapsed">keyboard_arrow_down</md-icon>
            </a>
            <a ng-model="$ctrl.collapsed" ng-show="$ctrl.collapsed" ng-click="$ctrl.collapsed=!$ctrl.collapsed;$ctrl.decreaseLimit()" " class="pointCursor ">
            <md-icon class="material-icons " ng-show="$ctrl.collapsed ">keyboard_arrow_up</md-icon>
            </a>
        </div>
        <md-card-actions layout="row " layout-align="end center ">
       <md-button ng-click="$ctrl.showAdvanced($event, 'Add Project', '') ">
        {{$ctrl.items.addworkexp}}
    </md-button>
</md-card-actions>
</md-card>
</div>
</div>
