<md-card class="card" layout="column">
    <md-card-title>
        <md-card-title-text layout="row">
            <div class="md-headline" flex="90">{{$ctrl.items.skillheader}}</div>
            <div flex="10">({{$ctrl.total}})</div>
        </md-card-title-text>
    </md-card-title>
    <h2 class="md-title"> {{$ctrl.items.primary}} <span class="numbers">({{$ctrl.plen}})</span> 
        </h2>
    <div layout="row" class="items" layout-wrap layout-padding>
        <md-whiteframe class="md-whiteframe-1dp" flex="30" flex-xs="100" ng-repeat="value in $ctrl.primary| limitTo: $ctrl.limitval" ng-model="$ctrl.limitval" layout="column" id="{{value.expertise}}">
            <div layout="row">
                <span class="names">{{value.skillname | capitalize}}</span>
            </div>
            <div layout="row">
                <div flex="40">{{value.experience}} yrs</div>
                <div flex="45"></div>
                <div flex="15">
                    <md-icon ng-click="$ctrl.showAdvanced($event,value,'Edit Skill')">mode_edit</md-icon>
                </div>
            </div>
        </md-whiteframe>
        <div layout="row" flex="80"></div>
        <div layout="column" flex="20" layout-align="center center">
            <md-button class="md-icon-button" ng-click="$ctrl.decreaseLimit()" ng-disabled="$ctrl.limitval<=3" ng-hide="$ctrl.limitval<=3">
                <md-icon class="material-icons">keyboard_arrow_up</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="$ctrl.increaseLimit()" ng-disabled="$ctrl.limitval>=$ctrl.primary.length" ng-hide="$ctrl.limitval>=$ctrl.primary.length">
                <md-icon class="material-icons">keyboard_arrow_down</md-icon>
            </md-button>
        </div>
        <!-- <div layout="row" flex="80"></div>
        <div layout="row" flex="20" layout-align="center center">
            
        </div> -->
    </div>
    <h2 class="md-title">{{$ctrl.items.secondary}} <span class="numbers">({{$ctrl.slen}})</span></h2>
    <div layout="row" class="items" layout-wrap layout-padding>
        <md-whiteframe class="md-whiteframe-1dp" flex="30" flex-xs="100" ng-repeat="value in $ctrl.secondary| limitTo: $ctrl.limitval2" ng-model="$ctrl.limitval2" layout="column" id="{{value.expertise}}">
            <div layout="row">
                <span class="names">{{value.skillname | capitalize}}</span>
            </div>
            <div layout="row">
                <div flex="40">{{value.experience}} yrs</div>
                <div flex="45"></div>
                <div flex="15">
                    <md-icon ng-click="$ctrl.showAdvanced($event,value,'Edit Skill')">mode_edit</md-icon>
                </div>
            </div>
        </md-whiteframe>
        <div layout="row" flex="80"></div>
        <div layout="column" flex="20" layout-align="center center">
            <md-button class="md-icon-button" ng-click="$ctrl.decreaseLimit2()" ng-hide="$ctrl.limitval2<=3" ng-disabled="$ctrl.limitval2<=3">
                <md-icon class="material-icons">keyboard_arrow_up</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="$ctrl.increaseLimit2()" ng-disabled="$ctrl.limitval2>=$ctrl.secondary.length" ng-hide="$ctrl.limitval2>=$ctrl.secondary.length">
                <md-icon class="material-icons">keyboard_arrow_down</md-icon>
            </md-button>
        </div>
    </div>
    <md-card-actions layout="row" layout-align="end end">
        <md-button ng-click="$ctrl.showAdvanced($event,'','Add Skill')">
            {{$ctrl.items.addskill}}
        </md-button>
    </md-card-actions>
</md-card>
