<md-card md-colors="{background: 'grey-200'}">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Eligibility criteria & Allowances</span>
      <span class="md-subhead"></span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
  <div>
    <strong md-colors="{color:'primary'}">Qualification</strong><br>
      <div layout="row" layout-align="center" ng-repeat="qualification in vm.criteria.qualifications">
      <p flex="30" flex-xs="30"><span><ng-md-icon icon="stars" size="20"><md-tooltip>
            Course
          </md-tooltip></span>&nbsp;{{qualification.name}}</p>
      <p flex="30" flex-xs="30"><span><ng-md-icon icon="assignment" size="20"><md-tooltip>
            score
          </md-tooltip></span>&nbsp;{{qualification.score}}</p>
      <p><span><ng-md-icon icon="check_box" size="20"><md-tooltip>
            priority
          </md-tooltip></span>&nbsp;{{qualification.priority}}</p>
      </div>
      <p><span md-colors="{color:'primary'}" class="md-subhead"><strong>Salary</strong></span><br>
      {{vm.criteria.salary}}
    </p>
    <p><span md-colors="{color:'primary'}" class="md-subhead"><strong>Allowances & Incentives</strong></span><br>
      {{vm.criteria.allowance}}
    </p>
  </div>  
  </md-card-content>

  <md-card-actions layout="row" layout-align="end center">
   <div id="dialogContainer" ng-controller="dialogController as ctrl" ng-cloak>
    <md-button class="md-primary md-raised" ng-click="showQualification($event,vm)">
    Edit
    </md-button>
  </div>  
  <span ng-transclude="jobactions">
  </span>
  </md-card-actions>
</md-card>
