<md-dialog>
    <form ng-submit="submitDescData()" ng-cloak required>
        <md-toolbar >
            <div class="md-toolbar-tools">
                <h2 id="headingtext">ADD JOB-DETAILS</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon id="headingtext">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column">
            <div  layout-padding layout-wrap>
                I am looking for
                <md-input-container>
                    <label>Job Title</label>
                    <input ng-model="job.title" type="text" placeholder="Title" ng-required="true" id="input1">
                    <div ng-messages="workForm.job.title.$error" role="alert">
                        <div ng-message="required">Please Enter Your Skills</div>
                    </div>
                </md-input-container>in profession
                <md-input-container>
                    <label>Profession</label>
                    <md-select ng-model="job.profession" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                        <md-option ng-value="item" ng-repeat="item in items | filter:searchTerm">{{item}}</md-option>
                    </md-select>
                </md-input-container>
                for the role
                <md-input-container>
                    <label>Role</label>
                    <input ng-model="job.role" type="text" placeholder="Role" ng-required="true" id="input1">
                </md-input-container>
                at
                <md-input-container>
                    <label>Place</label>
                    <input ng-model="job.location" type="text" placeholder="Location" ng-required="true" id="input1">
                </md-input-container>
                having Duties
                <md-input-container>
                    <label>Duties</label>
                    <input ng-model="job.duties" type="text" placeholder="Duties" ng-required="true" id="input1">
                </md-input-container>
                with Experience
                <md-input-container>
                    <label>Experience</label>
                    <input ng-model="job.experience" type="text" placeholder="Experience" ng-required="true" id="input1">
                </md-input-container>
                and required Language
                
                 <div layout data-ng-repeat="iteration in selectedLanguage">
                <!--<md-icon>language</md-icon> -->
                    <md-autocomplete
                        ng-model="lang[iteration]"
                        md-selected-item="lang[iteration]"
                        md-search-text-change=""
                        md-search-text="languageInputText"
                        md-selected-item-change=""
                        md-items="item in language | filter: languageInputText"
                        md-item-text="item"
                        md-min-length="0"
                        md-menu-class="autocomplete-custom-template"
                        md-floating-label="Languages"
                        ng-required=true>
                        <md-item-template>
                        <span md-highlight-text="languageInputText" md-highlight-flags="^i">{{item}}</span>
                        </md-item-template>
                    </md-autocomplete >
                    <div>
                      <p>
                        <md-checkbox ng-model="tempLanguage[iteration].speak">Speak</md-checkbox>
                        <md-checkbox ng-model="tempLanguage[iteration].read">Read</md-checkbox>
                        <md-checkbox ng-model="tempLanguage[iteration].write">Write</md-checkbox>
                      </p>
                    </div>
                </div>
                <div layout>
                  <span flex></span>
                  <md-button md-colors="{background: 'grey-400'}" class="md-fab md-mini" ng-click="insertLang()">
                    <md-tooltip>
                      Add a new language
                    </md-tooltip>
                    <md-icon>add</md-icon>
                  </md-button>
                  <md-button md-colors="{background: 'grey-400'}" class="md-fab md-mini" ng-click="removeLang()">
                    <md-tooltip>
                      Remove a language
                    </md-tooltip>
                    <md-icon>remove</md-icon>
                  </md-button>
                </div>


                available for Job-Openings
                <md-input-container>
                    <input ng-model="job.openings" type="text" placeholder="Job openings" ng-required="true" id="input1">
                </md-input-container>
                till
                <md-input-container>
                    <md-datepicker ng-model="job.closedate" md-min-date="minDate" md-max-date="maxDate" placeholder="Close Date"></md-datepicker>
                </md-input-container>
                List the Skills required for the job
                <div layout="row" id="skills" data-ng-repeat="skill in skills">
                    <md-input-container>
                        <input ng-model="skill.name" type="text" placeholder="Skills" ng-required="true">
                    </md-input-container>
                    <md-input-container>
                        <md-select ng-model="skill.expertise">
                            <md-option ng-repeat="value in expertise" value="{{value}}" placeholder="Expertise">
                                {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <md-select ng-model="skill.priority">
                            <md-option ng-repeat="value in priority" value="{{value}}" placeholder="Priority" id="input1">
                                {{value}}
                            </md-option>
                        </md-select>
                          <md-button  md-colors="{background: 'grey-400'}" class="md-fab md-mini" ng-click="addInput()">  <md-icon  >add</md-icon></md-button>
                        <md-button    md-colors="{background: 'grey-400'}" class="md-fab md-mini" class="md-fab md-mini" ><md-icon  >remove</md-icon></md-button>
                    </md-input-container>
                </div>

                </span>
            </div>
        </md-dialog-content>
        <md-dialog-actions class="conversationDialog" layout="row" layout-align="center center">
            <md-button class="md-primary md-raised" type="submit">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
