<div layout="column" ng-controller="jobDataCtrl">

  <div layout="row" layout-align="center center">
    <div class="md-headline">Job Profile</div>
  </div>

  <div layout="row" layout-align="center center">
    <!-- <h4>This is auto complete </h4> -->
    <md-autocomplete
    md-selected-item="selectedItem"
    md-search-text="searchText"
    md-items="item in querySearch | filter: searchText"
    md-item-text="item.name"
    md-min-length="0"
    placeholder="Job Provider?" >
    <md-item-template>
    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
    </md-item-template>
    <md-not-found>
    No states matching "{{searchText}}" were found.
    <a ng-click="">Create a new one!</a>
    </md-not-found>
    </md-autocomplete>
    
  </div>

  <div layout="row" layout-align="center center">
    <!-- <h4>This is job description component </h4> -->
    <job-desc data="jobData" flex-gt-xs="50"></job-desc>
  </div>

  <div layout="row" layout-align="center center">
    <!-- <h4>This is job criteria component </h4> -->
    <criteria data="jobData" flex-gt-xs="50"></criteria>
  </div>

  <div layout="row" layout-align="center center" >
    <md-button class="md-primary md-raised" ng-click="submitJob()">
    Post your job !
    </md-button>
  </div>

</div>
