<div layout="column" ng-controller="jobDataCtrl">

  <div layout="row" layout-align="center center">
    <div class="md-headline">Job Profile</div>
  </div>

  <div layout="row" layout-align="center center">
    <!-- <h4>This is auto complete </h4> -->
    <md-autocomplete
    md-selected-item="selectedItem"
    md-search-text="searchText"
    md-items="item in querySearch | filter: searchText"
    md-item-text="item.name"
    md-min-length="0"
    placeholder="Job Provider?">
    <md-item-template>
    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
    </md-item-template>
    <md-not-found>
    No names matching "{{searchText}}" were found.
    <a ng-click="">Create a new one!</a>
    </md-not-found>
    </md-autocomplete>

  </div>

  <div layout="row" layout-align="center center" flex>
    <div class="someDiv" ng-show="selectedItem && selectedItem.length!= 0" flex ="50">
           <md-card>
           <md-card-header>
            <md-card-avatar>
              <md-icon>business</md-icon>
            </md-card-avatar>
           <md-card-header-text>
            <span class="md-headline">{{selectedItem.name}}</span>
            <span class="md-subhead">{{selectedItem.jpCode}}</span>
            </md-card-header-text>
           </md-card-header>

        <md-card-content layout="column">
        <div layout="row">
        <div layout="column" flex="30" flex-offset="25">
          <p><span><ng-md-icon icon="group"><md-tooltip>Type</md-tooltip></ng-md-icon>{{selectedItem.type}}</span></p>
          <p><span><ng-md-icon icon="phone"><md-tooltip>Contact</md-tooltip></ng-md-icon>{{selectedItem.phone}}</span></p>
        </div>
        <div layout="column">
          <p><span><ng-md-icon icon="email"><md-tooltip>Email</md-tooltip></ng-md-icon>{{selectedItem.email}}</span></p>
          <p><span><ng-md-icon icon="location_on"><md-tooltip>Location</md-tooltip></ng-md-icon>{{selectedItem.location}}</span></p>
        </div>
        </div>
        <div layout="column" layout-margin>
          <p><span class="md-title">About Us</span></p>
          <p><span class="md-body-1">{{selectedItem.about}}</span></p>
        </div>
         </md-card-content>
        <span ng-transclude="jobactions">
        </span>
        </md-card-actions>
      </md-card>
  </div>
</div>

  <div layout="row" layout-align="center center">
    <!-- <h4>This is job description component </h4> -->
    <job-desc data="jobData" flex-gt-xs="50"></job-desc>
  </div>

  <div layout="row" layout-align="center center">
    <!-- <h4>This is job criteria component </h4> -->
    <criteria data="jobData" flex-gt-xs="50"></criteria>
  </div>

  <div layout="row" layout-align="center center" >
    <md-button class="md-primary md-raised" ng-click="submitJob(); showAlert($event)">
    </md-button>
  </div>

   <div layout="row" layout-align="center center" >
    <span class="md-subhead">{{msg}}</span>
  </div>
</div>
