<!-- <div layout="column">
  <div layout="row" layout-align="center center">
    <div class="md-headline">Create Job Profile</div>
  </div> -->

    <div layout="row" layout-align="center center" layout-xs="column" layout-padding md-colors="{background: 'indigo-100'}">
      <span class="md-headline" >{{header}}</span>
    </div>

  <div layout="row" layout-align="center center" ng-show="jobShow">
    <!-- <h4>This is auto complete </h4> -->
    <md-autocomplete
    md-selected-item="selectedItem"
    md-search-text="searchText"
    md-items="item in querySearch | filter: searchText"
    md-item-text="item.name"
    md-min-length="0"
    placeholder="Select Job Provider " flex-gt-xs="50" md-colors="{background: 'grey-200'}">
    <md-item-template>
    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
    </md-item-template>
    <md-not-found>
    No names matching "{{searchText}}" were found.
    <a ng-click="">Create a new one!</a>
    </md-not-found>
    </md-autocomplete>
  </div>

  <div layout="row" layout-align="center center" ng-show="selectedItem && selectedItem.length!= 0">
      <job-provider data="selectedItem" flex-gt-xs="50" flex-xs></job-provider>
  </div>

  <div layout="row" layout-align="center center" ng-show="selectedItem && selectedItem.length!= 0">
    <!-- <h4>This is job description component </h4> -->
    <job-desc data="jobData" flex-gt-xs="50" flex-xs></job-desc>
  </div>

  <div layout="row" layout-align="center center" ng-show="selectedItem && selectedItem.length!= 0">
    <!-- <h4>This is job criteria component </h4> -->
    <criteria data="jobData" flex-gt-xs="50" flex-xs></criteria>
  </div>
  <div layout="row" layout-align="center center" ng-show="(selectedItem && selectedItem.length!= 0)&&jobShow">
    <md-button class="md-primary md-raised" ng-click="submitJob()">
    Post Job
    </md-button>
  </div>

  <div layout="row" layout-align="center center" ng-show="!jobShow">
    <md-button class="md-primary md-raised" ng-click="updateJob()">
      Update Job
    </md-button>
  </div>
</div>
