 /*.card img {
     position: absolute;
 }*/
 
 .card {
    /* width: 200px;
 height: 200px;
 overflow: hidden;
*/
     color: white;
 }
 
 a {
     text-decoration: none;
     overflow: hidden;
 }
