
<md-card class="card" layout="column" >
    <md-card-title ng-show="$ctrl.showheader" hide-gt-sm>
        <md-card-title-text layout="row">
            <div flex="90" class="md-headline">{{$ctrl.languagedata.workexpheader}}</div>
            <div flex="10">({{$ctrl.totalworkexperience}})</div>
        </md-card-title-text>
    </md-card-title>

    <div layout="row" layout-xs = "column" layout-wrap layout-margin>

        <md-whiteframe class="md-whiteframe-10dp" flex="30" flex-xs="100" ng-repeat="value in $ctrl.workexperiences | limitTo: $ctrl.limitval" ng-model="$ctrl.limitval" layout-padding>

            <div class="designation" layout="row" layout-padding layout-align="center">

                <span class="md-headline">
                    <md-icon>work</md-icon>
                    {{value.designation}}
                </span>
            </div>
            
            <div layout="row" layout-padding  layout-align="space-around center">

                <div layout = "column" layout-xs="row">

                    <strong><md-icon class="material-icons">business_center</md-icon>{{value.workplace}}</strong>
                </div>

                <div layout = "column" layout-xs="row">
                    <strong><md-icon class="material-icons">place</md-icon>{{value.Location}}</strong>
                </div>
            </div>

            <div layout ="row" layout-padding layout-align="space-around center">
                <div layout= "column" layout-xs="row" >

                    <strong><md-icon class="material-icons">date_range</md-icon>{{value.duration.from|date:'dd-MM-yyyy'}}</strong>
                </div>


                <div layout= "column" layout-xs="row" >
                    <strong><md-icon class="material-icons">date_range</md-icon>{{value.duration.to|date:'dd-MM-yyyy'}}</strong>

                </div>
            </div>

            <div layout ="row" layout-align="space-around center">

                <div layout = "column">
                    <md-whiteframe class="md-whiteframe-5dp" layout-padding>
                        <span ng-repeat="skill in value.skills" flex-xs="100">

                            <md-icon >school</md-icon>
                            <strong>{{skill}}</strong>

                        </span>
                    </md-whiteframe>
                </div>

                <div layout = "column">
                    <md-button class="md-primary" ng-click="$ctrl.showAdvanced($event,'Edit work',value)">

                        <md-icon class="">mode_edit</md-icon>
                        
                    </md-button>
                </div>

            </div>
            

        </md-whiteframe>
    </div>


    <div layout="row" flex-offset="90" layout-align="center center">
        <a ng-model="$ctrl.collapsed" ng-hide="$ctrl.collapsed" ng-click="$ctrl.collapsed=!$ctrl.collapsed ;$ctrl.increaseLimit()" class="pointCursor">
            <md-icon class="material-icons" ng-hide="$ctrl.collapsed">expand_more</md-icon>
        </a>
        <a ng-model="$ctrl.collapsed" ng-show="$ctrl.collapsed" ng-click="$ctrl.collapsed=!$ctrl.collapsed;$ctrl.decreaseLimit()" class="pointCursor ">
            <md-icon class="material-icons " ng-show="$ctrl.collapsed ">expand_less</md-icon>
        </a>
    </div>
    <md-card-actions layout="row " layout-align="end center">
        <div ng-transclude="verify">
        </div>

        <md-card-actions layout="row " layout-align="end center">
            <div ng-transclude="verify">
            </div>
            <md-button class="md-primary" ng-click="$ctrl.showAdvanced($event, 'Add Workexperience', '') ">{{$ctrl.languagedata.addworkexp}}


            <!-- <md-icon>mode</md-icon> -->
        </md-button>
    </md-card-actions>
</div>
</md-card>
</div>
