   <div layout="column" flex-gt-lg="50" flex-offset-gt-lg="25" flex-lg="50" flex-offset-lg="25" flex-md="50" flex-offset-md="25" flex-sm="90" flex-offset-sm="5" flex-xs>
     <div class="md-no-momentum" md-whiteframe="6" layout-margin layout-padding>
      <form  name="centerForm" ng-submit="$ctrl.formSubmit()" novalidate>
        <!--name field-->
        <div layout="row" layout-align="center center">
          <h3 md-title md-colors="{color: 'blue-A700'}">Add new Placement Center </h3>
        </div>
        <!-- Center name -->
        <md-input-container class=" md-block">
          <label>Center name</label>
          <md-icon class="material-icons">home</md-icon>
          <input type="text" name="cname" required md-no-asterisk ng-model="$ctrl.center.cname" />
          <div ng-messages="centerForm.cname.$error">
            <div ng-message="required">Center name is required.</div>
          </div>
        </md-input-container>


        <!-- Registration field -->
        <!-- <md-input-container class="md-block">
          <md-icon ng-show="vm.availability=='disabled'" style="color:black">do_not_disturb</md-icon>
          <md-icon ng-show="vm.availability=='Available'" style="color:green">done</md-icon>
          <md-icon ng-show="vm.availability=='Not available'" style="color:red">clear</md-icon>
          <input ng-model="vm.center.centerCode" ng-disabled="vm.checked" md-minlength="8" md-maxlength="8" name="centerCode" type="text" placeholder="Center id" ng-required="true">
          <div ng-messages="centerForm.centerCode.$error" ng-show="centerForm.centerCode.$dirty || myForm.centerCode.$touched">
          </div>
          </md-input-container> -->



          <!-- Registration NO field -->
          <md-input-container class="md-block">
            <md-icon class="material-icons">code</md-icon>
            <label>Center code</label>
            <input name="centerCode" ng-model="$ctrl.center.centerCode" type="text" pattern="[0-9]{8}" md-maxlength="8" ng-required="true">
            <div ng-messages="centerForm.centerCode.$error" role="alert">
              <div ng-message="required">You should need to correct registration number</div>
              <div ng-message="pattern">The value should have only 8 digits number</div>
            </div>
          </md-input-container>
          
          <!-- Center type -->
          
            <md-input-container class="md-block">
              <label>Center type</label>
              <md-icon class="material-icons">work</md-icon>
              <md-select name=" centerType" ng-model="$ctrl.center.centerType">
                <md-option ng-repeat="centers in $ctrl.centerType" ng-value="centers.centerTypeTitle">{{centers.centerTypeTitle}}</md-option>
              </md-select>
              <div ng-messages="signupForm.centerType.$error">
                <div ng-message="required">Please Select your center type</div>
              </div>
            </md-input-container>
          <!-- <div layout="row" layout-align="center center"> -->
          <md-input-container class=" md-block">
            <label>Location</label>
            <md-icon class="material-icons">place</md-icon>
            <input type="text" name="Location" required md-no-asterisk ng-model="$ctrl.center.location" />
            <div ng-messages="centerForm.Location.$error">
              <div ng-message="required">Location is required.</div>
            </div>
          </md-input-container>
          <md-input-container class=" md-block">
            <label>Address</label>
            <md-icon class="material-icons">home</md-icon>
            <input type="text" name="Address" required md-no-asterisk ng-model="$ctrl.center.address" />
            <div ng-messages="centerForm.Address.$error">
              <div ng-message="required">Location is required.</div>
            </div>
          </md-input-container>
          <!-- Center number -->
          <md-input-container class="md-block">
            <md-icon class="material-icons">phone</md-icon>
            <label>Center contact No</label>
            <input name="mobile" ng-model="$ctrl.center.mobile" type="text" pattern="[0-9]{10}" md-maxlength="10" ng-required="true">
            <div ng-messages="centerForm.mobile.$error" role="alert">
              <div ng-message="required">You should need to correct mobile number</div>
              <div ng-message="pattern">The value should have only 10 digits number</div>
            </div>
          </md-input-container>
          <!-- Status enable or disable -->
          <md-input-container>
            <md-radio-group name="status" ng-model="$ctrl.center.status" layout="row" flex-offset="50">
              <label><md-icon>star</md-icon>Status </label>
              <md-radio-button value="Enable"  flex="85" class="md-primary">Enable</md-radio-button>
              <md-radio-button value="Disable" flex="85" class="md-primary">Disable</md-radio-button>
            </md-radio-group>
          </md-input-container>
          <section layout layout-padding="" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary" ng-disabled="false"> &nbsp;Add&nbsp;</md-button>
            <md-button class="md-raised md-primary" ng-disabled="false" ng-click="cancelButton()"> &nbsp;Cancel&nbsp;</md-button>
          </section>
        </form>
      </div>
    </div>
