<div>
    <md-card class="md-default-theme" class="card transparent" class="md-whiteframe-5dp" md-colors="{background: 'grey-200'}" >
      <md-card-header>
        <md-card-header-text >
          <b><span class="md-headline" md-colors="{color: 'indigo'}">{{prof.profession | uppercase}}</span></b>
        </md-card-header-text>
      </md-card-header>
      <md-divider></md-divider>
         <md-card-content ng-transclude="circleStats" >
         </md-card-content>
         <md-card-actions >
           <div layout="row" layput-margin="">
           <md-button ui-sref="index.job({profession:'{{prof.profession}}'})">
             <ng-md-icon icon="layers" md-colors="{color: 'blue-A700'}"> </ng-md-icon>JOBS
           </md-button>
           <span flex></span>
           <md-button ui-sref="index.candidate({profession:'{{prof.profession}}'})">
             <ng-md-icon icon="people" md-colors="{color: 'blue-A700'}"> </ng-md-icon>CANDIDATES
           </md-button>
         </div>
         </md-card-actions>
    </md-card>
    </div>
