

<md-dialog>
  <form ng-cloak layout-wrap layout-fill>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content >
      <div class="md-dialog-content" layout="column" layout-align="center center">
      <div >
          <img alt="oops!!!!NO IMAGE AVAILABLE" width="500" height="300" ng-src="{{url}}">

        </div>

        <p>
          {{desc}}
        </p>
        
      </div>
      <md-divider></md-divider>     
      <div layout="column" layout-align="center center">
        <p ng-disabled md-block style="color: #71767c;" layout-wrap layout-margin>
      Disclaimer: These media files are responsibility of individual who have uploaded the image, Samarth is not responsible for any copyright infringment or privacy issue, related to the media file in subject
      </p>
      </div>
      
    </md-dialog-content>
    

    </form>
</md-dialog>

