<md-card flex>
    <md-card-header ng-show="true" hide-gt-sm md-colors="::{background: 'primary-700'}">
        <md-card-header-text layout="row">
            <div class="md-headline">PROFILE GALLERY</div>
        </md-card-header-text>
    </md-card-header>
    <md-card-content layout="row" layout-xs="column" layout-align="center center" layout-wrap class="cardsContent" layout-fill>
<!-- 
     <ul ng-controller="GalleryCtrl">
      <li ng-repeat="image in images">
        <a ng-click="openLightboxModal($index)">
          <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
          </a>
      </li>
      </ul> -->

      <div flex="20" class="md-whiteframe-1dp" flex-xs="100" ng-repeat="image in $ctrl.data" ng-model="$ctrl.limitval" layout-margin >
         <div class="md-media-lg card-media">
              <img ng-src="{{ image.url }}" class="pointCursor" alt="image not available" width="150" height="100" ng-click="$ctrl.expand($event,image)"/>
          </div> 
          <!-- ********* Delete uploaded image in gallery*********** -->
                
                  <md-button style="float: right;" aria-label="Open demo menu" class="md-icon-button" ng-click="$ctrl.showConfirm($event,image)" title="Click to Delete">
                    <md-icon  md-menu-origin class="material-icons md-18">cancel</md-icon>
                  </md-button>
                    
      </div>
      

</md-card-content>
<md-card-actions layout="row" flex layout-align="end">
    <md-footer layout="row">
        <div ng-transclude="verify">
        </div>
        <md-button class="md-raised" ng-click="$ctrl.addNew($event)" title="Click to Add images" style="color: blue">ADD</md-button>
        
    </md-footer>
</md-card-actions>
</md-card>

