<div>
    <md-card layout="column" class="bodyContent" flex>
        <md-card-header layout-gt-sm="row" layout-sm="column" layout-xs="column" flex layout-padding class="headerSection">
            <md-card-header-text layout="column" layout flex>
                <div layout="row" layout-align="start center">
                    <!-- Job role and job Department fields-->
                    <div flex-gt-xs="90" flex-xs layout="column">
                        <span class="md-display-1">{{job.jobRole}}&#44; &nbsp;</span>
                        <span class="md-display-1">{{job.jobDepartment}}</span>
                    </div>
                    <!-- Logo -->
                    <div hide-xs flex-gt-xs="10">
                        <md-card-avatar class="avatar">
                            <img class="md-user-avatar avatar" src="{{job.employer.employerLogo}}" alt="Logo">
                        </md-card-avatar>
                    </div>
                </div>
                <!-- Company name and location -->
                <div layout-xs="column" layout-gt-xs="row" flex>
                    <span class="md-title" flex-xs flex-gt-xs="60">{{job.employer.employerName}}&#44; &nbsp;</span>
                    <span class="md-title" flex-xs flex-gt-xs="40"><i class="material-icons">location_on</i>{{job.jobLocation}}</span>
                </div>
            </md-card-header-text>
        </md-card-header>
        <md-card-content flex layout="column">
            <div layout="column">
                <!-- Skills required -->
                <label class="md-title">Skills Required</label>
                <md-chips ng-model="job.skillsRequired" md-max-chips="3" readonly="true">
                    <md-chip-template>
                        <strong>{{$chip.skillName}}</strong>
                        <em>({{$chip.experience}})</em>
                    </md-chip-template>
                </md-chips>
            </div>
            <div layout-xs="column" layout-gt-xs="row">
                <span class="md-title" flex-xs flex-gt-xs="60">Experience:&nbsp;{{job.experience.experienceYear}}&nbsp;Years&nbsp;{{job.experience.experienceMonth}}&nbsp;months</span>
                <span class="md-title" flex-xs flex-gt-xs="40">Posted on: {{job.jobPostDate | date:'yyyy-MM-dd'}}</span>
            </div>
            <div layout-xs="column" layout-xs="column" layout-gt-xs="row">
                <span class="md-title" flex-xs flex-gt-xs="60">Salary offered : &#8377; {{job.salaryOffered}}</span>
                <span class="md-title" flex-xs flex-gt-xs="40">Last date: {{job.jobLastDate | date:'yyyy-MM-dd'}}.</span>
            </div>
        </md-card-content>
        <!-- The action bar for card, can include anything inside this while using the webcomponents -->
        <md-card-actions class="headerSection" layout="row" layout-align="end center" ng-transclude>
            <md-button class="md-icon-button"><i class="material-icons">file_download</i></md-button>
            <md-button class="md-icon-button"><i class="material-icons">share</i></md-button>
        </md-card-actions>
    </md-card>
</div>
