<!-- <div id="content" class="md-padding" layout-xs="column" layout="row"> -->
<div id="totalcardarea" flex-xs flex-gt-xs layout="column" layout-xs="column" class="md-padding ">
    <md-card md-theme='default' md-theme-watch>
        <md-card-header id="headersection" ng-show="$ctrl.showheader" hide-gt-sm>
            <md-card-header-text>
                <span class="md-headline">{{$ctrl.data.name}}<br>
            </md-card-header-text>

            <div layout="row">
                <md-card-avatar id="avatar">
                    <img class="circle" src="samarth-webcomponents/skillcard/images/mir.jpg">
                </md-card-avatar>
                <!-- <span layout-align="end"><md-icon class="material-icons" style="color:green">verified_user</md-icon></span> -->
                <!--  <div ng-transclude="verified">
            </div> -->
                <div ng-transclude="badges">
                </div>
</div>
<!--  </div> -->
</md-card-header>
<md-card-content>
    <div layout="row" id="coverpagecontainer" layout-align="center center">
        <div flex="25" hide-sm hide-xs>
            <div layout="column" layout-align="center center">
                <div layout-align="center center">
                    <a href="#">
                        <md-card-avatar id="avatar">
                            <img class="profile_pic_circle" src="{{$ctrl.data.profilepic}}">
                        </md-card-avatar>
                    </a>
                </div>
                <div>
                    <span id="headline">{{$ctrl.data.name}}<br><!-- <span id="headerage" >({{$ctrl.data.age}} yrs , {{$ctrl.data.gender}})</span></span>
                    <span class="md-subhead">{{$ctrl.data.designation}}</span> -->
                </div>
            </div>
        </div>
        <div flex="75" flex-xs="100" id="coverpagecontent" layout-align="center center">
            <div flex="100" hide-gt-sm>
                <div layout="column" layout-align="center center">
                    <div>
                        <a href="">
                            <md-card-avatar id="avatar">
                                <img class="profile_pic_circle" src="{{$ctrl.data.profilepic}}">
                            </md-card-avatar>
                        </a>
                    </div>
                    <div layout-align="center center">
                        <span class="detail">{{$ctrl.data.name}}
                        
                        ({{$ctrl.data.age}} yrs , {{$ctrl.data.gender}})</span>
                        <br>
                        <br>
                        <span class="detail"><md-icon class="material-icons">work</md-icon> {{$ctrl.data.designation}}</span>
                        <br>
                        <br>
                        
                            <span><md-icon class="material-icons">phone</md-icon> {{$ctrl.data.contact}}</span>
                    </div>
                </div>
            </div>
            <div layout="column">

<div layout="row" id="section1" flex hide-xs hide-sm>
<div flex align="left" layout="column" layout-padding>
<span>
    <md-icon class="material-icons md-20">work</md-icon> PROFESSION ( {{$ctrl.data.designation}} )

    </div>
    </div>

                <div layout="row" id="section1" flex hide-xs hide-sm>
                    <div flex id="section1" align="left" layout="column">
                        <div flex>
                            <span>
                                <md-icon class="material-icons">cake</md-icon>
                                </span>
                                <span>
                                        {{$ctrl.data.dob}} ({{$ctrl.data.age}} yrs)
                                        
                            </span>
                        </div>
                        <div flex layout="column">
                            <p>
                                <md-icon></md-icon>
                                {{$ctrl.data.maritalstatus}} , {{$ctrl.data.gender}}
                            </p>
                        </div>
                    </div>
                    <!-- <md-divider></md-divider> -->

                    <div flex layout="column" layout-align-xs="center center" layout-align-sm="center center">
                        <p>
                            <md-icon class="material-icons">room</md-icon>
                            <span>{{$ctrl.data.location}}</span>
                        </p>
                        <p>
                            <md-icon class="material-icons">phone</md-icon>
                            <span>{{$ctrl.data.contact}}</span>
                        </p>
                    </div>

                   <!--  <md-divider></md-divider> -->

                    <div id="section2" layout="column">
                        <span>
                        <md-icon class="material-icons">mail outline</md-icon>
                            <span>{{$ctrl.data.email}}</span>
                            <!-- <md-icon class="material-icons md-20">work</md-icon> {{$ctrl.data.designation}} -->
                        </span>
                    </div>
                </div>
                <!-- <div id="blankarea" hide-sm hide-xs>
                    <br>
                </div> -->
                <md-divider id="divider1" hide-xs hide-sm></md-divider>
                <!--  <div id="section2" flex hide-xs hide-sm>
                       <p align="center">DOB:{{$ctrl.data.DOB}} ({{$ctrl.data.age}} years)</p>
                       <hr>
                   </div> -->
                <!-- <div id="blankarea" hide-sm hide-xs>
                    <br>
                </div> -->
                <div id="section3" layout="row" layout-xs="column" layout-sm="column" flex>
                    
                    
                    <div flex layout="row" layout-align-sm="center center" layout-align-xs="center center">
                        <p>
                            <md-icon class="material-icons">mail outline</md-icon>
                            <span>{{$ctrl.data.email}}</span>
                        </p>
                    </div>
                </div>
                
                <div id="section4" flex layout="row" layout-align-sm="center center" layout-align-xs="center center" layout-wrap>
                    <md-chips ng-model="$ctrl.data.skills" ng-if="$ctrl.data.skills != undefined" readonly="true" md-removable="false" name="skills">
                        <md-chip-template md-colors="{color: 'primary-700'}">
                            <!-- <strong> -->
                            {{$chip.skillname}}
                            <!-- </strong> -->
                            <!--                      </md-chip-template>
                                </md-chips>
                                <!-<span ng-repeat="val in $ctrl.data.skills[0]">{{val.skillname}}  </span> -->
                            <!--  </div>
                                </div>
                                </md-card-content>
                                <md-card-actions id="skillcardtoolbar" layout="row" layout-align="end center" ng-transclude="cardactions">
                                <a ng-href="{{ $ctrl.fileUrl }}" download="Scard.json">
                                    <md-icon class="material-icons">share</md-icon>
                                </a>
                                <a id="download">
                                    <md-button ng-click="$ctrl.render($event)">
                                        <md-icon class="material-icons">file_download</md-icon>
                                    </md-button>
                                </a>
                                </md-card-actions>
                            </md-card>  -->
                        </md-chip-template>
                    </md-chips>
                    <!-- <span ng-repeat="val in $ctrl.data.skills[0]">{{val.skillname}}  </span> -->
                </div>
            </div>
        </div>
    </div>
</md-card-content>
<md-card-actions id="skillcardtoolbar" layout="row" layout-align="end center">
    <a ng-href="{{ $ctrl.fileUrl }}" download="Scard.json">
        <md-icon class="material-icons">share</md-icon>
    </a>
    <a id="download">
        <md-button ng-click="$ctrl.render($event)">
            <md-icon class="material-icons">file_download</md-icon>
        </md-button>
    </a>
    <span ng-transclude="cardactions">
    </span>
</md-card-actions>
</md-card>
</div>
<!-- </div>
