<!-- <div id="content" class="md-padding" layout-xs="column" layout="row"> -->
<div id="totalcardarea" flex-xs flex-gt-xs layout="column" layout-xs="column" class="md-padding">
    <md-card md-theme='default' md-theme-watch>
        <md-card-header id="headersection">
            <md-card-header-text>
                <span class="md-headline">{{$ctrl.data.name}}<br><span id="headerage" hide-lg>({{$ctrl.data.age}} yrs , {{$ctrl.data.gender}})</span></span>
                <span class="md-subhead">{{$ctrl.data.designation}}</span>
            </md-card-header-text>
            <md-card-avatar id="avatar">
                <img class="md-user-avatar" src="webcomponents/skillcard/images/user.png">
            </md-card-avatar>
        </md-card-header>
        <md-card-content>
            <div layout="column">
                <div layout="row" id="section1" flex hide-xs hide-md hide-sm>
                    <div flex id="section1" align="left" layout="column">
                        <div flex>
                            <p>DOB:{{$ctrl.data.dob}} ({{$ctrl.data.age}} yrs)
                            </p>
                        </div>
                        <!-- <div flex>
                <p>{{$ctrl.data.gender}}</p>
              </div> -->
                        <div flex layout>
                            <p>{{$ctrl.data.maritalstatus}}</p> ,
                            <p>{{$ctrl.data.gender}}</p>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div flex id="section2" align="center" layout="column">
                        <div flex>
                            <img id="professionimage" src="webcomponents/skillcard/images/profession.png">
                        </div>
                        <div flex>
                            <p>{{$ctrl.data.designation}}</p>
                        </div>
                    </div>
                    <!-- <div flex id="section2" align="center">
              (graph)
            </div> -->
                    <!-- <div flex id="section3" align="center">
              <md-icon class="material-icons">star rate</md-icon>
              <md-icon class="material-icons">star rate</md-icon>
              <md-icon class="material-icons">star rate</md-icon>
            </div> -->
                </div>
                <div id="blankarea" hide-sm hide-xs hide-md>
                    <br>
                </div>
                <md-divider id="divider1" hide-xs hide-sm hide-md></md-divider>
                <!--  <div id="section2" flex hide-xs hide-sm>
            <p align="center">DOB:{{$ctrl.data.DOB}} ({{$ctrl.data.age}} years)</p>
            <hr>
          </div> -->
                <div id="blankarea" hide-sm hide-xs hide-md>
                    <br>
                </div>
                <div id="section3" layout="row" layout-xs="column" layout-sm="column" layout-md="column" flex>
                    <!-- <div hide-sm hide-xs hide-md hide-lg>
              <br>
            </div> -->
                    <div flex layout="column">
                        <p>
                            <md-icon class="material-icons">phone</md-icon>
                            <span>{{$ctrl.data.contact}}</span>
                        </p>
                        <p>
                            <md-icon class="material-icons">room</md-icon>
                            <span>{{$ctrl.data.location}}</span>
                        </p>
                    </div>
                    <!--  <div flex>
            <p>
              <md-icon class="material-icons">room</md-icon>
              <span>{{$ctrl.data.location}}</span>
            </p>
              
            </div> -->
                    <div flex>
                        <p>
                            <md-icon class="material-icons">mail outline</md-icon>
                            <span>{{$ctrl.data.email}}</span>
                        </p>
                    </div>
                </div>
                <md-divider id="divider2" hide-xs></md-divider>
                <div id="section4" flex hide-xs>
                    SKILLS:
                    <span ng-repeat="val in $ctrl.data.skills[0]">{{val.skillname}} &nbsp</span>
                </div>
            </div>
        </md-card-content>
        <md-card-actions id="skillcardtoolbar" layout="row" layout-align="end center" ng-transclude>
            <a ng-href="{{ $ctrl.fileUrl }}" download="Scard.json">
                <md-icon class="material-icons">share</md-icon>
            </a>
            <a id="download">
                <md-button ng-click="$ctrl.render($event)">
                    <md-icon class="material-icons">file_download</md-icon>
                </md-button>
            </a>
        </md-card-actions>
    </md-card>
</div>
<!-- </div>
