<!-- 
<div ng-repeat=" workex in $ctrl.workexperiance">
    <md-card>
        <md-card-title class="projectTitle">
            <md-card-title-text layout="row">
                <div class="md-headline" flex="95">Work Experience</div>
                
            </md-card-title-text>
        </md-card-title>
        <div layout-padding layout-wrap layout="row" layout-xs="column" class="decreasemdIconFont">
            <div layout="row" flex="50" layout-xs="column" flext-xs="100" ng-repeat="value in workex" ng-if="$index < 4" >
                <div flex="80" flex-xs="100">
                    <md-icon>fiber_manual_record</md-icon>
                  {{value.organisation }}<br>
                   {{value.designation}}
                    <br> {{value.joiningdate}}
                    <br> {{value.leavingdate}}
                    <br> {{value.projects}}
                    <br> {{value.location}}
                    <md-divider></md-divider>
                </div>
                <div flex="5" flex-xs="100">
                    <md-button>
                        <md-icon>mode_edit</md-icon>
                    </md-button>
                </div>
            </div>
            <div layout="row" flex="50" flext-xs="100" ng-repeat="value in data" ng-if="$index >4" ng-show="$ctrl.collapsed">
                <div flex="80">
                    <md-icon>fiber_manual_record</md-icon><span class="changeProjectNameFont">{{value.Project}}</span>
                    <br>
                    <md-icon>schedule</md-icon><span class="changeProjectDurationFont">{{value.Duration}}</span>,
                    <md-icon>attach_money</md-icon>
                    <span class="changeProjectSalaryFont">{{value.Salary}}</span>
                    <br>
                    <md-icon>work</md-icon>
                    <span class="changeProjectClientFont">{{value.Client}}</span>,
                    <md-icon>location_on</md-icon>
                    <span class="changeProjectLocationFont">{{value.Location}}</span></span>
                    <md-divider></md-divider>
                </div>
                <div flex="5">
                    <md-button ng-click="$ctrl.addProject($event,value,'EditProject')">
                        <md-icon>mode_edit</md-icon>
                    </md-button>
                </div>
            </div>
                    </div>
                    <div layout="row" flex-offset="85" layout-align="center center">
            <a ng-model="$ctrl.collapsed" ng-hide="$ctrl.collapsed" ng-click="$ctrl.collapsed=!$ctrl.collapsed" class="pointCursor">more
              <md-icon class="material-icons" ng-hide="$ctrl.collapsed">arrow_drop_down</md-icon>
            </a>
            <a ng-model="$ctrl.collapsed" ng-show="$ctrl.collapsed" ng-click="$ctrl.collapsed=!$ctrl.collapsed" class="pointCursor">less
            <md-icon class="material-icons" ng-show="$ctrl.collapsed">arrow_drop_up</md-icon>
            </a>
                    </div>
                    <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="$ctrl.addProject($event,'','Add Project')">
                    ADD
                </md-button>
            </md-card-actions> -->
    <!-- </md-card>
    </div>
</div> -->
 
<div ng-repeat=" workex in $ctrl.workexperiance">
    <md-card>
        <md-card-title class="projectTitle">
            <md-card-title-text layout="row">
                <div class="md-headline" flex="90">EXPERIENCE</div>
            </md-card-title-text>
        </md-card-title>
        <div layout-padding layout-wrap layout="row">
            <div layout="row" flex="50" layout-xs="column" flex-xs="100" ng-repeat="value in workex" ng-if="$index < 4">
                <div flex="80" flex-xs="100">
                    <font size="5">{{value.designation}}
                        <br>
                    </font>
                    <font size="4">{{value.organisation }} 
                    , {{value.projects}}</font><br>
                    <md-icon class="material-icons">date_range</md-icon>
                    <font size="3">
                       {{value.joiningdate}}
                        to {{value.leavingdate}}
                        <br>{{value.location}}</font>
                    <md-divider></md-divider>
                </div>
                <div flex="5" flex-xs="100">
                    <md-button>
                        <md-icon>mode_edit</md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </md-card>
</div>
</div>

